@use './_var.scss' as *;

aside {
  transition: width 125ms ease-in-out 25ms;
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  height: 100vh;
  width: 0%;
  margin: 0 -3.125rem;
  height: calc(100vh - 10rem);
  min-height: 400px;
  background-color: $c-yellow;
  background-image: linear-gradient(135deg, #fefaf1, $c-yellow);
  background-image: url("../assets/joey-remedy-XUdUrw4fJWU-unsplash.jpg");
  background-size: 320px;
  z-index: -1;
  @media (min-width: $min-mobile) {
    display: block;
  }
}
.assignment aside {
  background-color: none;
}
aside div {
  padding: 1.125rem;
  width: 100%;
  height: 100%;
}
aside img {
  margin: auto;
  max-width: 80%;
  max-height: 90vh;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  border: 1px solid slateblue;
  // box-shadow: 0.125em 0.125em 0.25em 0 rgba(0, 0, 0, 0.25);
  // width: auto;
  // max-width: 100%;
  // height: auto;
  // max-height: 100%;
  // margin: 0 auto;
  // text-align: center;
  // object-fit: scale-down;
}

@media (min-width: $min-mobile) {
  body {
    transition: margin 125ms ease-in-out 225ms;

    margin-left: 33.3333333vw;
  }
  aside {
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    height: 100vh;
    width: 33.3333333vw;
  }
  aside div {
    padding: 7.5rem 2.5rem;
  }
  @media (max-height: 700px) {
    aside div {
      padding: 5rem 2.5rem;
    }
  }
  @media (max-height: 500px) {
    aside div {
      padding: 2.5rem;
    }
  }
}

@media (min-width: $min-display) {
  body {
    font-size: 1rem;
    margin-left: 50vw;
  }
  aside {
    width: 50vw;
  }
  aside div {
    padding: 7.5rem;
  }
  @media (max-height: 700px) {
    aside div {
      padding: 5rem;
    }
  }
  @media (max-height: 500px) {
    aside div {
      padding: 2.5rem;
    }
  }
  header,
  footer,
  article {
    max-width: 45em;
  }
}
@media (min-width: $min-jumbo) {
  body {
    font-size: 1.2rem;
  }
}
