@font-face {
    font-family: 'Infini';
    src: url('../fonts/infini_regular/infini-regular-safari.eot'); /* IE9 Compat Modes */
    src: url('../fonts/infini_regular/infini-regular-safari.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/infini_regular/infini-regular-safari.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/infini_regular/infini-regular-safari.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/infini_regular/infini-regular-safari.svg#InfiniSafari-Regular') format('svg'); /* Legacy iOS */
    font-weight: 400;
    }
    
@font-face {
    font-family: 'Infini';
    src: url('../fonts/infini_italic/infini-italic-safari.eot'); /* IE9 Compat Modes */
    src: url('../fonts/infini_italic/infini-italic-safari.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../fonts/infini_italic/infini-italic-safari.woff') format('woff'), /* Pretty Modern Browsers */
            url('../fonts/infini_italic/infini-italic-safari.ttf')  format('truetype'), /* Safari, Android, iOS */
            url('../fonts/infini_italic/infini-italic-safari.svg#InfiniSafari-Italic') format('svg'); /* Legacy iOS */
    font-weight: 400;
    font-style: italic;
    }


@font-face {
    font-family: 'Infini';
    src: url('../fonts/infini_bold/infini-bold-safari.eot'); /* IE9 Compat Modes */
    src: url('../fonts/infini_bold/infini-bold-safari.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../fonts/infini_bold/infini-bold-safari.woff') format('woff'), /* Pretty Modern Browsers */
            url('../fonts/infini_bold/infini-bold-safari.ttf')  format('truetype'), /* Safari, Android, iOS */
            url('../fonts/infini_bold/infini-bold-safari.svg#InfiniSafari-Bold') format('svg'); /* Legacy iOS */
    font-weight: 700;
    }

    